<html>
	<head>
		<title></title>
		<style type="text/css">
			tr th, tr td {
				border: 1px solid black;
			}
			.table-container {
				margin-top: 5%;
			}


		</style>
	</head>

	<body>
		<div>
			LOGO MEDICINA
		</div>
		<div>
			APELLIDO Y NOMBRES: .........................................
		</div>
		<div class="table-container">
			<table class="report-table">
				<thead>
					<tr>
						<th rowspan="2" colspan="2">Año</th>
						<th colspan="2">Inasistencias</th>
						<th colspan="2" rowspan="2">Suspensi&oacute;n</th>
						<th colspan="2">Sanidad</th>
						<th colspan="2">Salidas Temprano</th>
						<th colspan="2">Llegadas Tarde</th>
						<th colspan="2">Otras Licencias</th>
						<th colspan="2" rowspan="2" >Candidad de Compensaciones</th>
						<th colspan="2" rowspan="2" >Vacaciones Anuales</th>
						<th colspan="2" rowspan="2">Total de d&iacute;as que debío cumplir</th>
						<th colspan="2" rowspan="2">Total de d&iacute;as trabajados</th>
						<th colspan="2" rowspan="2">Observaciones</th>
					</tr>
					<tr>
						<th>Justificadas</th>
						<th>Injustificadas</th>
						<th>Veces</th>
						<th>Total</th>
						<th>Veces</th>
						<th>Total</th>
						<th>Veces</th>
						<th>Total</th>
						<th>Con Sueldo</th>
						<th>Sin Sueldo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">Enero</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Febrero</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Marzo</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Abril</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Mayo</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Junio</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Julio</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Agosto</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Septiembre</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Octubre</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2">Noviembre</td>
						<td></td>
						<td></td>
						<td ></td>
						<td colspan="2"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
						<td colspan="2"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>